<h1> <img src="https://github.com/hjdalton/makersbnb/blob/main/logo/icon_small.png?raw=true" alt="icon" height="40", width="40">  Sign Up </h1>


<form action="/signup" method="post">
    <label for="email">Email</label>
    <input type="text" name="email", placeholder="Email Address"><br/>
    <label for="password1">Password</label>
    <input type="text" name="password1", placeholder="Password"><br/>
    <label for="password2">Password Confirmation</label>
    <input type="text" name="password2", placeholder="Password"><br/>
    <input type="submit" name="Sign up">
</form>


<a href='/sign_in'>Sign In</a>

<div class="footer">
<img src="https://github.com/hjdalton/makersbnb/blob/main/logo/logo_large.png?raw=true" alt="icon" height="30", width="180">
  <p>Wherever you stay make sure it feels like home</p>
</div>

<style>
body {
  margin: auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
  background-color: #F8F7EE;
}
</style>