<h1> Sign Up </h1>

<form action="/signup" method="post">
    <label for="email">Email</label>
    <input type="text" name="email", placeholder="Email Address">
    <label for="password1">Password</label>
    <input type="text" name="password1", placeholder="Password">
    <label for="password2">Password Confirmation</label>
    <input type="text" name="password2", placeholder="Password">
    <input type="submit" name="Sign up">
</form>


<a href='/sign_in'>Sign In</a>
