<h1> List a new space! </h1>

<form action="/spaces" method="post">
  <label for="space_name">Property Name</label>
  <input type="text" name="space_name" placeholder="name"/>
  <label for="description">Description</label>
  <input type="text" name="description" placeholder="description"/>
  <label for="price">Price Per Night</label>
  <input type="text" name="price" placeholder="price"/>
  <label for="start_date">Start date:</label>
  <input type="date" name="start_date"
      min="2021-01-01" max="2022-12-31">
  <label for="end_date">End date:</label>
  <input type="date" name="end_date"
      min="2021-01-02" max="2023-01-01">
  <input type="submit" value="Submit" />
</form>