<h1> List a new space! </h1>

<form action="/spaces" method="post">
  <label for="space_name">Property Name</label>
  <input type="text" name="space_name" placeholder="name"/>
  <label for="description">Description</label>
  <input type="text" name="description" placeholder="description"/>
  <label for="price">Price Per Night</label>
  <input type="text" name="price" placeholder="price"/>
  <input type="submit" value="Submit" />
</form>