<form action="/spaces" method="post">
  <input type="text" name="space_name" placeholder="name"/>
  <input type="text" name="description" placeholder="description"/>
  <input type="text" name="price" placeholder="price"/>
  <input type="submit" value="Submit" />
</form>