<h1><img src="https://github.com/hjdalton/makersbnb/blob/main/logo/icon_small.png?raw=true" alt="icon" height="40", width="40"> Sign In </h1>

<form action="/sign_in" method="post">
 <label for="email">Email</label>
  <input type="text" name="email", placeholder="Email Address">
   <label for="password1">Password</label>
  <input type="text" name="password", placeholder="Password">
  <input type="submit" name="Sign in">
</form>

<%= @current_user %>

<div class="footer">
<img src="https://github.com/hjdalton/makersbnb/blob/main/logo/logo_large.png?raw=true" alt="icon" height="30", width="180">
  <p>Wherever you stay make sure it feels like home</p>
</div>

<style>
body {
  margin: auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
  background-color: #F8F7EE;
}
</style>