
<h1><img src="https://github.com/hjdalton/makersbnb/blob/main/logo/icon_small.png?raw=true" alt="icon" height="40", width="40">  Book a Space!</h1>

<form action="/spaces/filter" method="post">
<label for="start_date">Start date:</label>
  <input type="date" name="start_date"
      min="2021-01-01" max="2022-12-31">
  <label for="end_date">End date:</label>
  <input type="date" name="end_date"
      min="2021-01-02" max="2023-01-01">
  <input type="submit" value="List spaces" />
  </form>

<ul>

  <% @spaces.each do |space| %>
    <class="space" id="space-<%= space.id %>">
    <a href="/spaces/listing/<%=space.id%>"> <p><%= space.space_name %></p> </a>
    <% end %>


    <form action="/spaces/new" method="get">
      <input type="submit" value="List a space" />
      </form>

<div class="footer">
<img src="https://github.com/hjdalton/makersbnb/blob/main/logo/logo_large.png?raw=true" alt="icon" height="30", width="180">
  <p>Wherever you stay make sure it feels like home</p>
</div>

<style>
body {
  margin: auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
  background-color: #F8F7EE;
}
</style>

