<h1>Book a Space!</h1>
<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id %>">
    <a href="/spaces/listing/<%=space.id%>"> <p><%= space.space_name %></p> </a>
  <% end %>
</ul>
